<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">


</head>

<body>
    <div class="parent">
        <div class="div1">
            <img src="IMG/Logofull.png" alt="logo1"> <!-- Asegúrate de que la ruta sea correcta -->
        </div>

        <div class="subtop">
            <p>Instituto Tecnológico de Ensenada</p>
            <p> Departamento de Gestión Tecnológica y Vinculación</p>
        </div>

        <div class="titulo">
        <p>ANEXO XX. CARTA COMPROMISO DE SERVICIO SOCIAL</p>
        <br>

        <p>Departamento de Gestión Tecnológica y Vinculación o su equivalente en</p>
        <p> los Institutos Tecnológicos Descentralizados</p>
        <p>Carta compromiso de Servicio Social</p>

        </div>
        <div class="Forma">
            <p> Con el fin de dar cumplimiento con lo establecido en la Ley Reglamentaria del Artículo 5° Constitucional relativo al ejercicio de profesiones, el suscrito:</p>
            <p>Nombre del prestante del Servicio Social: {{ Students.FirstName }} {{ Students.LastName1 }} {{ Students.LastName2 }}</p>
            <p>Número de control: {{ Students.ControlNumber }}  Domicilio: {{ Students.Address }} </p>
            <p>Teléfono: {{ Students.Phone }} 	Carrera: 	{{ Students.Specialty }} 	Semestre {{ Students.Semester }} 	. </p>
            <p>Dependencia u organismo: {{ Organizations.OrganizationName }} </p>
            <p>Domicilio de la dependencia: {{ Organizations.Address }} </p>
            <p>Responsable del programa: {{ Organizations.SupervisorFirstName }} {{ Organizations.SupervisorLastName1 }} {{ Organizations.SupervisorLastName2 }}</p>
            <p>Fecha de inicio: {{ StudentProgramHistory.StartDate }}  Fecha de terminación: {{ StudentProgramHistory.EndDate }} </p>
        </div>
    
    
            <div class="Texto">
                <p>Me comprometo a realizar el Servicio Social acatando el reglamento emitido por el Tecnológico Nacional de México y llevarlo a cabo en el lugar y periodos manifestados, así como, a participar con mis conocimientos e iniciativa en las actividades que desempeñe, procurando dar una imagen positiva del Instituto en el Organismo o Dependencia oficial, de no hacerlo así, quedo enterado(a) de la cancelación respectiva, la cual procederá automáticamente.</p>
                <p>En la Ciudad de: Ensenada, del día {{ fecha_actual.day }} del mes {{ fecha_actual.strftime('%B') }} de {{ fecha_actual.year }}.</p>

            </div>
    
        <div class="Firma">
            <p>CONFORMIDAD</p>
            <br>
            <br>
            <br>
            <br>
            <br>
<hr>
            <p>Firma del alumno(a) del Servicio Social</p>
        </div>
        <div class="Footer">
            <img src="IMG/footer.png" alt="logo1"> <!-- Asegúrate de que la ruta sea correcta -->


        </div>
 
    </div>
</body>
</html>